SECRET_KEY=sua_chave_secreta_super_segura_aqui
DATABASE_URL=aeropost.db
APP_SUFFIX=-dev

# Email Config (SMTP)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=seu.email@gmail.com
MAIL_PASSWORD="senha do app"
MAIL_DEFAULT_SENDER=AeroPost <seu.email@gmail.com>
